<footer class=" flex-column flex-md-row">
    <div class="f-info left flex-col">
        <div class="top d-flex p-2 gap-2 ">
        <a class="navbar-brand" href="/Listings"><i class="fa-regular fa-compass"></i></a>
        <span>RoamRest</span>
        </div>
        <div>
        <p><span>Where Roaming Meets Rest</span></p>
        </div>
    </div>
    <div class="f-info ">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            
        </div>
        <div class="f-info-brand">
            <i class="fa-regular fa-copyright">&nbsp;</i>
            <span>RoamRest Private Limited</span>
        </div>
        <div class="f-info-links">
        <a href="/privacy">Privacy&nbsp;&nbsp;.</a>
        <a href="/terms">&nbsp;&nbsp;Terms</a>
        </div>
    </div>
    <div class="f-info flex-col">
        <h5>Support</h5>
        <ul class="no-bullets">
          <li><a href="#">Our COVID-19 Response</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Cancellation options</a></li>
          <li><a href="#">Trust & Safety</a></li>
        </ul>
      </div>
</footer>